{#{% extends "account/base.html" %}#}
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="container-fluid " >
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-10 col-11 main-login">

                <h1 class="text-center">{% trans "Sign In" %}</h1>

                {% get_providers as socialaccount_providers %}

                {#                {% if socialaccount_providers %}#}
                {##}
                {#                    <div class="socialaccount_ballot">#}
                {##}
                {#                        <ul class="socialaccount_providers">#}
                {#                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
                {#                        </ul>#}
                {##}
                {#                        <div class="login-or">{% trans 'or' %}</div>#}
                {##}
                {#                    </div>#}
                {#                    {% include "socialaccount/snippets/login_extra.html" %}#}
                {##}
                {#                {% endif %}#}


                <form class="login mt-4" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>

                    {% endif %}
                    <button class="primaryAction btn btn-outline-danger mb-2" type="submit">{% trans "Sign In" %}</button>
                    <div>
                        <a style="color: white" class=" secondaryAction"
                           href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>

                </form>
                <div class="login-or text-center ">{% trans 'or' %}</div>
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            {% include "socialaccount/snippets/login_extra.html" %}
            <pre>please change default password of your university email and make sure that your email have two step authentication</pre>


            </div>

        </div>
    </div>

{% endblock %}
