{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
        {% block head_title %}কাকাতুয়া - বই ধার নিন সহজেই{% endblock %}
    </title>


    <meta name="description"
          content="কাকাতুয়া - বই ধার নিন সহজেই বই ধার নিন কাকাতুয়া থেকে Borrow book from kakatua diu,  কাকাতুয়া একটি  ইউজার কন্টিবিউটেড অনলাইন লাইব্রেরী। যেখান থেকে আপনি  বই ধার নিয়ে  পড়তে পারবেন।  কাকাতুয়া  থেকে  আপনি সব ধরনের বই  যেমন  গল্প, উপন্যাস, কবিতা,  একাডেমিক,  শিক্ষামূলক ইত্যাদি বিনামূল্যে ধার নিতে পারবেন।  এই সাইটটি আশুলিয়া, সাভার,  ঢাকা তে অবস্থানরত  ড্যাফোডিল ইন্টারন্যাশনাল  ইউনিভার্সিটির ছাত্রদের সেবা দিয়ে থাকে।">
    <meta name="keywords"
          content=" কাকাতুয়া - বই ধার নিন সহজেই, booi dhar diu,  কাকাতুয়া বাংলাদেশ,  কাকাতুয়া বিডি, kakatua bd, kakatua bangladesh, kakatua diu,  কাকাতুয়া  ডিআইউ, daffodil international university,ড্যাফোডিল ইন্টারন্যাশনাল  ইউনিভার্সিটি, borrow book form kakatua diu, কাকাতুয়া,kakatua, kakatua.tech, কাকাতুয়া.টেক,  বই  ধার, library">
    <meta name="author" content="Md. Nasimuzzaman">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#	<!-- Favicons --> images/favicon.ico  images/icon.png#}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    {#	<!-- Stylesheets --> css/bootstrap.min.css  css/plugins.css  style.css#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css %}
    {% endblock %}

    <!-- Cusom css  css/custom.css-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Modernizer js js/vendor/modernizr-3.5.0.min.js -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Main wrapper -->
{% block content %}
{% endblock %}
<!-- //Main wrapper -->

<!-- JS Files  js/vendor/jquery-3.2.1.min.js  js/popper.min.js  js/bootstrap.min.js  js/plugins.js js/active.js-->
<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/active.js' %}"></script>
<script src="{% static 'js/ajax_submit.js' %}"></script>

</body>
</html>