<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
      <title>HTML Meta Tag</title>
      <meta http-equiv = "refresh" content = "5; url = {% url 'contact-info' %}" />
       <style>
           body {
               background: #E7D976;
               width: 100%;
               overflow: hidden;
           }
           div {
               padding-top: 100px;
               width: 400px;
               margin: auto;

           }
       </style>
   </head>
   <body>
   <div >
       <h3>
            ইমেইল সফলভাবে পাঠনো হয়েছে। আমরা খুব শীগ্রই আপনার সাথে যোগাযোগ করব।
       </h3>
       <h4> পূর্বের পেজে ফেরত যাচ্ছি... </h4>
       </div>
   </body>
</html>